/* Reset some default styles */
body, h1, p, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%; /* Ensure that the gradient covers the full height */
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #832100, #2575fc); /* Gradient background */
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(163, 163, 163, 0.1);
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.4);
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    color: #e0e0e0;
  }
  